<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morse Code Translator</title>
    <style>
        body {background-color:darkslategray;}
        h1 {text-align: center;
        color: azure;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
        div {align-self: center;
        text-align: center;
        background-color: azure;
        border-radius: 5px;
        padding: 10px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
    </style>
</head>
<body>
    <h1>Welcome to Maxjustuniversal's and Teslaboi's Morse Code Translator!</h1>
    <div>{{ dynamic_data }}</div>
</body>
</html>